@import 'toastr';

*:focus {outline: none} 

*:focus,
*:focus-visible,
input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
}

button, button:focus, button:hover, button:focus-visible {
  border: none;
}