
@import '../../presets/_defines';

.nav {
  display: flex;
  height: $NavHeight;
  width: 100%;
  background-color: $PrimaryColor;
  box-sizing: border-box;
  padding: 0 20px;
  align-items: center;
  // justify-content: space-between;
  box-shadow: 0 3px 3px #0002;
  z-index: 2000;

  .brand {
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  .right {
    margin: auto 0 auto auto;

    .dropdown-title {
      color: white;

      .name {
        font-size: 16px;
      }
    }

    .dropdown-title:focus,
    .dropdown-title:focus-visible {
      // box-shadow: none;
    }

    .dropdown {
      right: 0;
      left: auto;
    }

    .dropdown:after {
      display: none;
    }
  }
}
